body{
  /*font-family: 'Amatic SC', cursive;*/
  background-image: url("/assets/img/bg-barley.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  min-height: 580px;
  max-height: auto;
}
.container{
 font-family: 'Quicksand', sans-serif;
}
.light{
 color: rgb(120 120 120);
 font-size: 15px;
}
.head{
    background-color: white;
    padding: 2% 2%;
}
h2{
text-shadow: 0px 3px 3px grey;
}
h1{
text-shadow: 0px 3px 3px grey;
}

/* main */
.main-slide-show{
box-shadow: 0px 5px 5px grey;
}
.carousel-item a{
box-shadow: 0px 3px 3px grey;
}
.carousel-item a:hover{
background-color: rgb(174, 209, 46);
box-shadow: 0px 3px 3px grey;
}
.welcome{
  background-color: white;
  padding: 2%;
}
.main-content{
margin: 2%;
}
.main-content .material-icons{
margin-top: 5%;
font-size: 50px;
color: rgb(174, 209, 46);
text-shadow: 0px 3px 3px grey;
}
.main-content .material-icons:hover{
margin: 2% 0 4% 0;
color: rgb(20, 20, 20);
font-size: 52px;
}
.main-content a:hover{
   background-color: rgb(174, 209, 46);
   box-shadow: 0px 3px 3px grey;
}
.main-content a{
   box-shadow: 0px 3px 3px grey;
}
#presentation{
text-align: center;
margin: 5% 0 0 0;
}
#presentation h2{
text-shadow: none;
font-weight: bold;
color: rgb(174, 209, 46);
}
.over{
  background-image: url("/assets/img/nature.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;

}


#second-row{
border-top: 1.5px solid rgb(200 200 200);
border-bottom: 1.5px solid rgb(200 200 200);
margin: 0 0 2% 0;
}
#second-row h2{
padding: 0 0 1.5% 0;
}
#second-row a{
margin: 5% 0 15% 0;
box-shadow: 0px 3px 3px grey;
}
#article-img-main{
box-shadow: 0px 3px 3px grey;
margin: 2% 0 0 0;
}
/*products*/
.products .card{
margin: 1% 5%;
box-shadow: 0px 3px 3px grey;
}
.products .modal-title{
color: rgb(174, 209, 46);
}
.box{
  padding: 1%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.products{
  margin: 20px 0px 50px 0px;
  background-color: rgba(220, 220, 220, 0.7);
  padding-bottom: 70px;
  padding-top: 50px;
  }
.new{
 color: rgb(250 0 0);
 font-weight: normal;
 font-size: 11px;
}
.accordion button{
 color: rgb(174, 209, 46);
 font-weight: bold;
 font-size: 26px;
}
.boxcontent{
  margin: 0px 0px 5% 0px;
  text-align: center;
  color: rgb(0, 0, 0);
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
  padding: 30px 0px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
.boxcontent h1{
border-bottom: 1.5px solid rgb(200 200 200);
margin: 0.5% 0 2% 0;
padding: 0 0 2% 0;
text-shadow: 0px 3px 3px grey;
}
/*contact*/
.boxcontent h3 a{
  color: black;
}
.boxcontent h2{
  text-shadow: none;
}
.boxcontent h3 a:hover{
  color: rgb(174, 209, 46);
}
#send-but{
color: rgb(174, 209, 46);
font-size: bold;
box-shadow: 0px 3px 3px grey;
}
#send-but:hover{
color: rgb(60, 60, 60);
 background-color: rgb(174, 209, 46);
 border: white;
}
/*about*/
.highlight{
color: rgb(174, 209, 46);
font-size: 20px;
font-weight: bold;
}
/*gallery*/
#gallery{
text-align: center;
margin-right: 1.5%;
}
#gallery img{
width:100%;
box-shadow: 0px 5px 5px grey;
margin: 1% 10% 2% 2%;
}
#gallery img:hover{
width:105%;
}
#gallery h1{
margin: 0 0 4% 0;
}
/*footer*/
#footer{
  border-top: rgb(174, 209, 46) solid 5px;
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Amatic SC', cursive;*/
  font-size: 16px;
  background-color: rgb(50, 50, 50);
  color: white;
  margin: 0 0%;
  padding: 0.5%;
}
#copy-footer .material-icons{
  font-size: 14px;
}
#footer a{
text-decoration: none;
color: white;
}
#footer a:hover{
color: rgb(174, 209, 46);
}


/* loader */
#loader {
  position: absolute;
  left: 47%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid rgb(50, 50, 50);
  border-bottom: 8px solid rgb(50, 50, 50);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.container {
  position: relative;
  -webkit-animation-name: container;
  -webkit-animation-duration: 1s;
  animation-name: container;
  animation-duration: 1s
}

@-webkit-keyframes container {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes container {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


#loader-logo {
   position: relative;
  -webkit-animation-name: loader-logo;
  -webkit-animation-duration: 1s;
  animation-name: loader-logo;
  animation-duration: 1s
}

@-webkit-keyframes loader-logo {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes loader-logo {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

/*responsive-rules*/

 @media only screen and (max-width: 1060px) {
body{
 min-height: 920px;
 }
#loader {
  left: 46%;
  }
 }

 @media only screen and (max-width: 980px) {
body{
 min-height: 900px;
 }

#loader {
  left: 45%;
  }
 }

@media only screen and (max-width: 720px) {
body{
 min-height: 800px;
 }
#loader {
  left: 41%;
  }
 }

@media only screen and (max-width: 650px) {
body{
 min-height: 700px;
 }
#loader {
  left: 43%;
  }
 }

