{% extends "base.html" %}
{% block title %}Über uns |www.bio-schramm.at{% endblock title %}
{% block content %}
<div class="welcome">
    <div class="boxcontent">
        <h1>Über uns und den Bio-Hof</h1>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <h5>Am <i class="highlight">1.7.2006</i> haben wir unseren Betrieb <i class="highlight">auf Biologische Wirtschaftsweise umgestellt.</i></h5>
                    <h5>Nach zwei Übergangsjahren produzieren wir nun <i class="highlight"> seit 2009 reine Bioprodukte</i> nach strengen
                        Richtlinien und Kontrollen.</h5>
                    <h5> Der <i class="highlight">Ackerbau</i> ist die <i class="highlight">Haupteinnahmequelle</i> unseres Betriebes.</h5>
            </div>
             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h5>Durch Biologische Produktion wird bei uns <i class="highlight">zu 100% auf Dünger bzw. Pflanzenschutzmittel
                        verzichtet.</i></h5>
                    <h5><i class="highlight">Alte Getreide- und Gemüsesorten</i> werden durch ihre hohe Widerstandskraft gegenüber Krankheiten
                        und Schädlingen <i class="highlight">bevorzugt angebaut.</i></h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
