{% extends "base.html" %}
{% block title %}Über uns | www.bio-schramm.at{% endblock title %}
{% block content %}
<div class="welcome">
    <div class="boxcontent" id="gallery">
        <h1>Galerie</h1>
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a target="_blank" href="/assets/img/carrot.jpg">
                  <img src="/assets/img/carrot.jpg">
                    </a>
                </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                 <a target="_blank" href="/assets/img/nature.jpg">
                    <img src="/assets/img/nature.jpg">
                 </a>
                </div>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <a target="_blank" href="/assets/img/pumpkin.jpg">
                          <img src="/assets/img/pumpkin.jpg"></a>
                </div>
        </div>
          <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a target="_blank" href="/assets/img/gemuse.jpg">
                  <img src="/assets/img/gemuse.jpg" >
                    </a>
                </div>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <a target="_blank" href="/assets/img/onion.jpg">
                    <img src="/assets/img/onion.jpg">
                     </a>
                </div>
               <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                   <a target="_blank" href="/assets/img/schramm_oele.jpg">
                    <img src="/assets/img/schramm_oele.jpg">
                   </a>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       <a target="_blank" href="/assets/img/steinsalz.jpg">
                  <img src="/assets/img/steinsalz.jpg" >
                       </a>
                </div>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <a target="_blank" href="/assets/img/logo_schramm_web.png">
                    <img src="/assets/img/logo_schramm_web.png">
                        </a>
                </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <a target="_blank" href="/assets/img/hof.jpg">
                    <img src="/assets/img/hof.jpg">
                     </a>
                </div>
        </div>
         <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       <a target="_blank" href="/assets/img/pc03.jpg">
                  <img src="/assets/img/pc03.jpg" >
                       </a>
                </div>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <a target="_blank" href="/assets/img/pc02.jpg">
                    <img src="/assets/img/pc02.jpg">
                        </a>
                </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <a target="_blank" href="/assets/img/pc01.jpg">
                    <img src="/assets/img/pc01.jpg">
                     </a>
                </div>
        </div>
    </div>
</div>
{% endblock content %}