{% extends "base.html" %}
{% block title %}Produkte | www.bio-schramm.at{% endblock title %}
{% block content %}
<div class="welcome">
    <div class="boxcontent">
        <h1>Unsere Produkte</h1>
        <div class="products" id="products-text">
            <h2 style="background-color: rgba(50, 50, 50, 0.8); color: rgb(174, 209, 46); text-align: center;">Unser
                Hofladen ist für Sie von <i style="font-weight: bold;">Montag bis Sonntag 08:00-20:00 Uhr</i> geöffnet.
                Selbstbedienung!</h2>
            <br>
            <div class="card bg-dark text-dark" style="margin: 2% 12%">
                <img class="card-img" src="../assets/img/pepper.jpg" alt="Card image" style="height: 320px;">
                <div class="card-img-overlay"
                     style="background-color: rgba(150, 150, 150, 0.8); margin: 6% 25%; font-weight: bold;">
                    <h1 class="card-title" style="color: rgb(174, 209, 46); font-weight: bold;">GEMÜSE</h1>
                    <h4 class="card-text">Wir haben eine große Auswahl an saisonalen Gemüsesorten.</h4>
                    <button class="btn btn-dark" data-toggle="modal"
                            data-target="#exampleModal1">mehr erfahren
                    </button>
                </div>
            </div>
            <div class="card bg-dark text-dark" style="margin: 2% 12%">
                <img class="card-img" src="../assets/img/barley.jpg" alt="Card image" style="height: 320px;">
                <div class="card-img-overlay"
                     style="background-color: rgba(150, 150, 150, 0.8); margin: 6% 25%; font-weight: bold;">
                    <h1 class="card-title" style="color: rgb(174, 209, 46); font-weight: bold;">GETREIDE</h1>
                    <h4 class="card-text">Wir haben eine große Auswahl an saisonalen Getreidesorten.</h4>
                    <button class="btn btn-dark" data-toggle="modal"
                            data-target="#exampleModal2">mehr erfahren
                    </button>
                </div>
            </div>
            <div class="card bg-dark text-dark" style="margin: 2% 12%">
                <img class="card-img" src="../assets/img/oil.jpg" alt="Card image" style="height: 320px;">
                <div class="card-img-overlay"
                     style="background-color: rgba(150, 150, 150, 0.8); margin: 6% 25%; font-weight: bold;">
                    <h1 class="card-title" style="color: rgb(174, 209, 46); font-weight: bold;">ÖLE</h1>
                    <h4 class="card-text">Wir haben eine große Auswahl an Ölen.</h4>
                    <button class="btn btn-dark" data-toggle="modal"
                            data-target="#exampleModal3">mehr erfahren
                    </button>
                </div>
            </div>
            <!-- Modals -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h3 class="modal-title" id="exampleModalLabel">Unsere Gemüseauswahl:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="row" style="text-align: left;">
                                    <div class="col">Auszug aus dem Sortiment:</div>
                                    <div class="w-100"
                                         style="border-bottom: 1.5px solid grey; margin: 5% 0% 2% 0%;"></div>
                                    <div class="col">Kartoffeln: festkochend & halbfestkochend</div>
                                    <div class="col">Gurken</div>
                                    <div class="w-100"></div>
                                    <div class="col">Kartoffeln rote & blaue <span class="new">NEU</span></div>
                                    <div class="col">Pfefferoni</div>
                                    <div class="w-100"></div>
                                    <div class="col">Zwiebeln: Gelb & Rot</div>
                                    <div class="col">Kräuter</div>
                                    <div class="w-100"></div>
                                    <div class="col">Karotten: Rote, Gelbe & Blaue</div>
                                    <div class="col">Kürbis</div>
                                    <div class="w-100"></div>
                                    <div class="col">Tomaten: Rot & Gelb, Cocktailtomaten, Raritäten</div>
                                    <div class="col">Paprika</div>
                                    <div class="w-100"></div>
                                    <div class="col">Salate: verschiedene Sorten</div>
                                    <div class="col"></div>
                                    <div class="w-100"></div>
                                    <div class="col">Fisolen: Gelb & Grün</div>
                                    <div class="col"></div>
                                    <div class="w-100"></div>
                                    <div class="col">Rote Rüben</div>
                                    <div class="col"></div>
                                    <div class="w-100"
                                         style="border-bottom: 1.5px solid grey; margin: 5% 0% 2% 0%;"></div>
                                    <div class="col">Außerdem:</div>
                                    <div class="col">Chinakohl, Pastinak, Fenchel, Wassermelonen,
                                        Zucchini, Radieschen, Gurken, Borretsch, Dille, Kresse & vieles mehr !
                                    </div>
                                    <div class="w-100"
                                         style="border-bottom: 1.5px solid grey; margin: 5% 0% 2% 0%;"></div>
                                    <div class="col">
                                        <i class="material-icons">info</i>
                                        <i>Die Auswahl variert je nach Saison.</i></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="printFunction()">drucken</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h3 class="modal-title" id="exampleModalLabel2">Getreide Sorten:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>GETREIDE (als Korn, Vollkornmehl, Mehl-extrafein, Grieß & Kleie)</h5>
                            <ul>
                                <li>Dinkel</li>
                                <li>Weizen</li>
                                <li>Einkorn</li>
                                <li>Roggen</li>
                                <li>Urkorn (Pharaonenkorn)</li>
                                <li>TEFF-MEHL <span class="new">NEU</span></li>
                                <li>Hirse*</li>
                                <li>Amaranth*</li>
                                <li>Buchweizen*</li>
                            </ul>
                            <p>*) gekennzeichnete Mehle werden in einer eigenen Mühle gemahlen und sind daher
                                glutenfrei!!!</p>
                            <br>
                             <div class="w-100"
                                         style="border-bottom: 1.5px solid grey; margin: 5% 0% 2% 0%;"></div>
                                    <div class="col">
                                        <i class="material-icons">info</i>
                                        <i>Wir bieten sämtliche Getreidearten als Grieß, Flocken, Reis, ganze Körner,
                                gemahlen und als extrafein gemahlen an.</i></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="printFunction()">drucken</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h3 class="modal-title" id="exampleModalLabel3">Diverse Öle:</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="text-align: left;">
                                <div class="col">Auszug aus dem Sortiment:</div>
                                <div class="w-100"
                                     style="border-bottom: 1.5px solid grey; margin: 5% 0% 2% 0%;"></div>
                                <div class="col">Sonnenblumenöl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Leindotteröl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Leinöl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Hanföl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Rapsöl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Knoblauchöl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Rosmarinöl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Basilikumöl</div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Kürbiskernöl <span class="new">NEU</span></div>
                                <div class="col"></div>
                                <div class="w-100"></div>
                                <div class="col">Johanniskrautöl <span class="new">NEU</span></div>
                                <div class="col"></div>
                                <div class="w-100"
                                     style="border-bottom: 1.5px solid grey; margin: 5% 0% 2% 0%;"></div>
                                <div class="col">
                                    <i class="material-icons">info</i>
                                    <i>Erwin und Maria Schramm erhielten für ihre Bio-Öle drei Gold-
                                    und zwei Silber-medaillen auf der Ab-Hof-Messe in Wieselburg.</i></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="printFunction()">drucken</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function printFunction() {
    window.print();
}
</script>
{% endblock content %}